spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: /Users/mark/IdeaProjects/user-app-config
          default-label: main
server:
  port: 8888
