version: '3.8'

services:
  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_KRAFT_MODE: "true"
      KAFKA_NODE_ID: 1
      CLUSTER_ID: "w1pRQ3jcR-OrGCY99rGdNQ"
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"

    volumes:
      - kafka_kraft:/var/lib/kafka/data
  db:
    image: postgres:15
    container_name: userdb
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: userapp
      POSTGRES_PASSWORD: password
    ports:
      - "15432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U userapp -d userdb"]
      interval: 10s
      timeout: 5s
      retries: 5
      
  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "8888:8888"
    volumes:
      - /Users/mark/IdeaProjects/user-app-config:/user-app-config
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8888/actuator/health" ]
      interval: 5s
      timeout: 5s
      retries: 10
  
  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    depends_on:
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 5s
      timeout: 5s
      retries: 20

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8080:8080"
    depends_on:
      eureka-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
      db:
        condition: service_started
      kafka:
        condition: service_started

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "8081:8081"
    depends_on:
      config-server:
        condition: service_healthy
      kafka:
        condition: service_started
      eureka-server:
        condition: service_healthy
    environment:
      - EMAIL_PASSWORD=

  circuit-breaker-service:
    build: ./circuit-breaker-service
    container_name: circuit-breaker-service
    ports:
      - "8686:8686"
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy

  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    ports:
      - "8787:8787"
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
      user-service:
        condition: service_started
      notification-service:
        condition: service_started
      circuit-breaker-service:
        condition: service_started
volumes:
  kafka_kraft: